<!-- begin faq-list -->
<ul class="faq-list">
	{% for i in 0..4 %}
	<li>
		<h3>Что такое разовый пропуск на МКАД?</h3>
		<p>
			Разовый пропуск – это подходящий вариант, если нет 
			потребности в регулярном заезде на территорию МКАД.
			В других случаях гораздо целесообразнее обращаться за 
			получением пропуска на 6 (шесть) месяцев или1 (один) год.
			Действие разового пропуска на МКАДРазовый пропуск в Москве на 
			МКАД действует пять суток с момента его выдачи.
		</p>
		<a href="">Читать далее</a>
	</li>
	{% endfor %}
</ul><!-- end faq-list -->
