
<!-- begin service-card-list -->
<div class="service-card-list">

<div class="uk-grid">
	<div class="uk-width-1-3@m">
		<div class="service-card">
			<div class="service-card__title">
				Мониторинг действительности пропуска на грузовой транспорт в Москве
			</div>
			<div class="service-card__text">
				<p>
					Ежедневный мониторинг действительности пропусков защищает от штрафов в случае 
					неожиданной аннуляции или несвоевременного оформления новых пропусков
				</p>
				<p>
					Проверить пропуск в Москву для грузового транспорта по номеру автомобиля
				</p>
			</div>
			<div class="service-card__form">
				<form action="">
					<fieldset>
						<input type="text" placeholder="Номер автомобиля">
					</fieldset>
					<fieldset>
						{% if btnFill == true %}
							<button type="submit" class="btn-yellow">Проверить пропуск</button>
						{% else %}
							<button type="submit">Проверить пропуск</button>
						{% endif %}
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	
	<div class="uk-width-1-3@m">
		<div class="service-card">
			<div class="service-card__title">
				Помощь в оформлении пропуска для грузового транспорта на МКАД, ТТК и СК
			</div>
			<div class="service-card__text">
				<p>
					Накопленный опыт и отлаженные процедуры позволяют нам оформлять пропуска быстро, 
					без отказов, с соблюдением всех ньюансов действующего законодательства.
				</p>
				<p>
					Наши услуги очень удобны для клиентов с большим парком машин, 
					но мы рады помочь даже если у вас всего один автомобиль
				</p>
			</div>
			<div class="service-card__form">
				<form action="">
					<fieldset>
						<input type="text" class="js__input-phone" placeholder="Номер телефона">
					</fieldset>
					<fieldset>
						<button type="submit">Заказать пропуск</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
		
	<div class="uk-width-1-3@m">
		<div class="service-card">
			<div class="service-card__title">
				Консультации по соблюдению законодательства в области грузовых перевозок
			</div>
			<div class="service-card__text">
				<p>
					Какие документы необходимы для получения пропуска, какие штрафы приводят к 
					аннуляции пропуска, к каким изменениям законодательства нужно успеть подготовиться в 2020 году
				</p>
				<p>
					В этих вопросах вам поможет разобраться  наш юрист - консультант.
				</p>
			</div>
			<div class="service-card__form">
				<form action="">
					<fieldset>
						<input type="text" class="js__input-phone" placeholder="Номер телефона">
					</fieldset>
					<fieldset>
						<button type="submit">Получить консультацию</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>	
</div>

</div'><!-- end service-card-list -->
