<!-- begin side-block -->
<div class="side-block">
	<div class="img" uk-icon="file-text">
		<img src="https://via.placeholder.com/80x100" alt="" />
	</div>
	<div class="text">
		<p>
			Постановление Правительства Москвы от 22.08.2011 No 379-ПП «Об
			ограничении движения грузового автотранспорта в городе Москве и
			признании утратившими силу отдельных правовых актов Правительства
			Москвы»
		</p>
		<a href="">п.1.1. Постановления 379-ПП</a>
	</div>
</div><!-- end side-block -->
