<!-- begin tariffs-cards -->
<div class="tariffs-cards">
	<div class="uk-grid">
		<div class="uk-width-1-2@s uk-width-1-4@m">
			<div class="tariff-card">
				<div class="tariff-card__header">Разовый пропуск</div>
				<div class="tariff-card__body">

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<ul class="active-list">
								<li class="checked">Мкад</li>
								<li>ТТК</li>
								<li>СК</li>
							</ul>
						</div>
						<div class="tariff-card__subtitle">Зона действия</div>
					</div>

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<div class="uk-text-bold">1 - 3</div>
						</div>
						<div class="tariff-card__subtitle">Количество автомобилйе</div>
					</div>

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<div class="uk-text-bold">1 - 2 рабочих дня</div>
						</div>
						<div class="tariff-card__subtitle">Срок выдачи</div>
					</div>	

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<div class="uk-text-normal">5 дней</div>
						</div>
						<div class="tariff-card__subtitle">Срок действия пропуска</div>
					</div>
					
				</div>
				<div class="tariff-card__footer">
					<div class="price">4 000 ₽</div>
				</div>
			</div>
		</div>

		<div class="uk-width-1-2@s uk-width-1-4@m">
			<div class="tariff-card">
				<div class="tariff-card__header">Долгосрочный пропуск</div>
				<div class="tariff-card__body">

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<ul class="active-list js__active-list">
								<li>Мкад</li>
								<li class="checked">ТТК</li>
								<li>СК</li>
							</ul>
						</div>
						<div class="tariff-card__subtitle">Зона действия</div>
					</div>

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<div class="uk-text-bold">1 - 3</div>
						</div>
						<div class="tariff-card__subtitle">Количество автомобилйе</div>
					</div>

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<div class="uk-text-bold">1 - 2 рабочих дня*</div>
						</div>
						<div class="tariff-card__subtitle">Срок выдачи</div>
					</div>	

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<ul class="active-list">
								<li class="checked">Год</li>
								<li>6 мес</li>
								<li>3 мес</li>
							</ul>
						</div>
						<div class="tariff-card__subtitle">Срок действия пропуска</div>
					</div>

				</div>
				<div class="tariff-card__footer">
					<div class="price">14 000 ₽</div>
				</div>
			</div>
		</div>

		<div class="uk-width-1-2@s uk-width-1-4@m">
			<div class="tariff-card">
				<div class="tariff-card__header">Разовый пропуск</div>
				<div class="tariff-card__body">

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<ul class="active-list">
								<li>Мкад</li>
								<li>ТТК</li>
								<li class="checked">СК</li>
							</ul>
						</div>
						<div class="tariff-card__subtitle">Зона действия</div>
					</div>

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<div class="uk-text-bold">более 3</div>
						</div>
						<div class="tariff-card__subtitle">Количество автомобилйе</div>
					</div>

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<div class="uk-text-bold">1 - 2 рабочих дня*</div>
						</div>
						<div class="tariff-card__subtitle">Срок выдачи</div>
					</div>	

					<div class="tariff-card__fieldset">
						<div class="tariff-card__val">
							<div class="uk-text-normal">До года</div>
						</div>
						<div class="tariff-card__subtitle">Срок действия пропуска</div>
					</div>

				</div>
				<div class="tariff-card__footer">
					Индивидуально
				</div>
			</div>
		</div>

	</div>
</div><!-- end tariffs-cards -->
