<ul class="triangle-list">
	<li class="triangle-list__item">
		<div class="triangle-list__title">
			1 - 2 часа
		</div>
		<div class="triangle-list__text">
			Заполнение заявления на получение пропуска на портале mos.ru
		</div>
	</li>

	<li class="triangle-list__item">
		<div class="triangle-list__title">
			1 рабочий час
		</div>
		<div class="triangle-list__text">
			Срок регистрации запроса и документов на портале
		</div>
	</li>

	<li class="triangle-list__item">
		<div class="triangle-list__title">
			8 рабочих часов


		</div>
		<div class="triangle-list__text">
			Общий срок предоставления государственной услуги
		</div>
	</li>

	<li class="triangle-list__item">
		<div class="triangle-list__title">
			Итого 1 - 2 раб. дня
		</div>
		<div class="triangle-list__text">
			Внесение пропуска в реестр или решение об отказе в выдаче пропуска
		</div>
	</li>
</ul>
