{% include "../includes/head.twig" %}
<body>
{% include "../includes/header.twig" %}

{% if main == true %}
	{% include '../components/top-banner.twig' %}
{% endif %}	

<main class="main">
{% block content %}{% endblock %}
</main>

{% include "../includes/footer.twig" %}

{% include "../includes/modals.twig" %}

{% include "../includes/scripts.twig" %}

</body>
</html>
