/*______ HEADER ______*/

.header {
	&__desc {
		color: $white;
		background: $blue;
		a {
			color: $white;
		}
	}
}

.logo {
	padding-left: 50px;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	background: url("../img/icon-svg/logo.svg") 0 center no-repeat;
	&:hover {
		text-decoration: none;
	}
	span {
		display: block;
		text-transform: uppercase;
		white-space: nowrap;
	}
	&__slogan {
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 24px;
		line-height: 24px;
	}
	&__subtitle {
		font-size: 12px;
		line-height: 12px;
	}
}

.timework {
	font-size: 14px;
}

/*______ Start Top-bar ______*/

.top-bar {
	padding: 10px 0;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;
	a {
		display: block;
	}
}

/*______ End Top-bar ______*/

/*______ Start Header Nav ______*/

.uk-nav {
	height: 100%;
	.uk-navbar-nav {
		height: 100%;
		justify-content: space-between;
		& > li {
			& > a {
				height: 100%;
				color: $white;
				font-weight: bold;
				white-space: nowrap;
			}
		}
	}
	.uk-dropdown {
		margin-top: 0;
		padding: 10px 25px;
		background: $blue;
		box-shadow: none;
	}
	.uk-dropdown-nav {
		a {
			color: $white;
			font-size: 16px;
			&:hover {
				color: $white;
			}
		}
	}
}

/*______ End Header Nav ______*/

.header {
	&__mobile {
		padding: 10px 0;
		background: $blue;
		.logo {
			color: $white;
		}
	}
}

.mobile-menu {
	@include list-reset;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	li {
		a {
			svg {
				width: 30px;
				height: 30px;
				fill: $white;
				rect {
					height: 2px;
					width: 100%;
				}
			}
		}
	}
}

.uk-offcanvas {
	&-bar {
		padding: 0;
		background: $lightGray;
		color: $gray;
		a {
			color: $gray;
		}
	}
	.uk-panel {
		&__top {
			padding: 15px 10px;
			border-bottom: 1px solid $gray;
		}
	}

	.uk-nav {
		padding: 15px 10px;
		a {
			position: relative;
			display: block;
			&:focus,
			&:active,
			&:hover {
				color: $gray;
			}
			i.uk-icon {
				position: absolute;
				top: 50%;
				right: 0;
				padding: 10px;
				transform: translateY(-50%);
				transform-origin: center;
				color: $gray;
				&.open {
					transform: translateY(-50%) rotate(90deg);
				}
			}
		}
	}

	.contacts {
		a {
			display: block;
		}
	}
	.menu-sublist {
		display: none;
		padding: 8px 10px 8px 15px;
		li {
			margin-bottom: 8px;
			display: block;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			font-size: 14px;
			line-height: 16px;
		}
	}
}

/*______ END HEADER ______*/
