$mob-xs: 0px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;

$mainFont: "Roboto";
$fontSize: 16px;
$lineHeight: 21px;
$fontWeight: 400;

$containerWidth: 1340px;
$bradius: 12px;

$blue: #2866ae;
$gray: #3e3f47;
$lightGray: #eef3f9;
$yellow: #ffac29;
$lightGreen: #79e098;
$green: #53e07e;
$white: #ffffff;
$red: #e6412d;
