/*______ Main Fonts ______*/

@font-face {
  font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff2") format("woff2"),
	 		url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff2") format("woff2"),
			url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Italic/Roboto-Italic.woff2") format("woff2"), 
			url("../fonts/Roboto/Roboto-Italic/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/*______ Icomoon ______*/
