{% block content %}
<!-- begin header -->
<header class="header">

	<!-- begin header__desc -->
	<div class="header__desc uk-visible@l" uk-sticky>
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-6">
					<a href="/" class="logo">
						<span class="logo__slogan">Cargo Logic</span>	
						<span class="logo__subtitle">Грузовая логистика</span>
					</a>
				</div>

				<div class="uk-width-5-6">
				<div class="uk-grid">
					<div class="uk-width-5-6">
						<nav class="uk-nav">
							<ul class="uk-navbar-nav">
								<li>
									<a href="#">Проверить пропуск</a>
									<div uk-dropdown>
										<ul class="uk-nav uk-dropdown-nav">
											<li><a href="#">Проверить пропуск на МКАД</a></li>

											<li><a href="#">Проверить пропуск на ТТК</a></li>

											<li><a href="#">Проверить пропуск СК</a></li>

											<li><a href="#">Проверить пропуск в Москву</a></li>

											<li><a href="#">Реестр грузовых пропусков</a></li>

											<li><a href="#">Автоматическая проверка пропусков</a></li>
										</ul>
									</div>	
								</li>
								<li>
									<a href="#">Оформить пропуск</a>
									<div uk-dropdown>
										<ul class="uk-nav uk-dropdown-nav">
											<li><a href="#">Оформить пропуск на МКАД</a></li>
											<li><a href="#">Оформить пропуск на ТТК</a></li>
											<li><a href="#">Оформить пропуск СК</a></li>
											<li><a href="#">Оформить пропуск в Москву</a></li>
											<li><a href="#">Разовый пропуск</a></li>
											<li><a href="#">Годовой пропуск</a></li>
											<li><a href="#">Оформить пропуск самостоятельно</a></li>
											<li><a href="#">Документы для оформления пропуска</a></li>
											<li><a href="#">Процедура и сроки</a></li>
											<li><a href="#">Аннулирование пропусков</a></li>
											<li><a href="#">Отказы в оформлении пропусков</a></li>
										</ul>
									</div>	
								</li>
								<li>
									<a href="#">Услуги</a>
									<div uk-dropdown>
										<ul class="uk-nav uk-dropdown-nav">
											<li><a href="#">123123</a></li>
										</ul>
									</div>	
								</li>
								<li>
									<a href="#">Законы</a>
									<div uk-dropdown>
										<ul class="uk-nav uk-dropdown-nav">
											<li><a href="#">123123</a></li>
										</ul>
									</div>	
								</li>
								<li><a href="#">Вопросы-ответы</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</nav>
					</div>
					<div class="uk-width-1-6">
						<div class="top-bar">
							<a href="#" class="auth">Личный кабинет</a>
							<a href="tel:+74991222344" class="uk-text-bold">8 (499) 122-23-44</a>
							<div class="timework">Пт-Пн 9:00 - 21:00</div>
						</div>
					</div>
				</div>




				</div>
			</div>
		</div>
	</div><!-- end header__desc -->

	<!-- begin header__mobile -->
	<div class="header__mobile uk-hidden@l">
		Mobile
	</div><!-- end header__mobile -->

</header><!-- end header -->
{% endblock %}
